.footer {
   display: flex;
   width: 100%;
   height: 415px;
   padding:0 80px;
   background: linear-gradient(274.25deg, #00205B -9.03%, #00A3E0 138.82%);
}
.logo-footer{
    margin-top: 55px;
    width:152px;
    height:62px;
}
.about-footer{
    display: flex;
    padding-left: 0px;
    margin-left: 110px;
    width: -webkit-fill-available;
}
.pages-footer{
    width: 670px;

}
.pages-footer-list {
    display: flex;
    justify-content: space-between;
    padding-left: 0px;
}
.pages-footer-item {
    list-style: none;
}
.contacts-footer-link {
    padding: 17px;
    text-transform: uppercase;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    color: #ffffff;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #00D2FF;
    box-shadow: 0px 4px 4px rgba(63, 156, 148, 0.17);
    border-radius: 2px;
    margin-bottom: 30px;
}

.info-block{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-left: 110px;
    margin-top: 55px;
    
}
.contacts-footer{
    display: flex;
    width: 670px;
}
.contacts-footer-list{
    display: flex;
    justify-content: space-between; 
    padding-left: 0px;
    height:200px
    align-items baseline;
}
.contacts-footer-item{
    list-style: none;

}
.contacts-footer-item {
    display: grid;
    margin-right: 55px;
    width: max-content;
}
.contacts-footer-item:last-child{
    margin-right: 0px;
}
.contacts-footer-heading{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;

    color: #FFFFFF;
}
.contacts-footer-text{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;    
    line-height: 18px;
    display: flex;
    align-items: flex-end;

    color: #FFFFFF;
}

.nav-footer {

    //  
}

.nav-footer-link {
    text-decoration: none;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    margin-top: 17px;
    color: #2BC5FF;
}
.nav-list{
    margin-top: 45px;
}
.nav-item:not(:last-child){
    margin-bottom: 8px;

}
.nav-link{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    align-items: flex-end;

    color: #FFFFFF;
}