@font-face {
  font-family: 'Helvetica';
  src: url('Helvetica.eot');
  src: url('Helvetica.eot?#iefix') format('embedded-opentype'),
       url('Helvetica.svg#Helvetica') format('svg'),
       url('../../fonts/Helvetica/Helvetica.ttf') format('truetype'),
       url('../../fonts/Helvetica/Helvetica.woff') format('woff'),
       url('../../fonts/Helvetica/Helvetica.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica-Bold';
  src: url('Helvetica-Bold.eot');
  src: url('Helvetica-Bold.eot?#iefix') format('embedded-opentype'),
       url('Helvetica-Bold.svg#Helvetica-Bold') format('svg'),
       url('Helvetica-Bold.ttf') format('truetype'),
       url('Helvetica-Bold.woff') format('woff'),
       url('Helvetica-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica-BoldOblique';
  src: url('Helvetica-BoldOblique.eot');
  src: url('Helvetica-BoldOblique.eot?#iefix') format('embedded-opentype'),
       url('Helvetica-BoldOblique.svg#Helvetica-BoldOblique') format('svg'),
       url('Helvetica-BoldOblique.ttf') format('truetype'),
       url('Helvetica-BoldOblique.woff') format('woff'),
       url('Helvetica-BoldOblique.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica-Compressed';
  src: url('Helvetica-Compressed.eot');
  src: url('Helvetica-Compressed.eot?#iefix') format('embedded-opentype'),
       url('Helvetica-Compressed.svg#Helvetica-Compressed') format('svg'),
       url('Helvetica-Compressed.ttf') format('truetype'),
       url('Helvetica-Compressed.woff') format('woff'),
       url('Helvetica-Compressed.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica-Light';
  src: url('Helvetica-Light.svg#Helvetica-Light') format('svg'),
       url('Helvetica-Light.ttf') format('truetype'),
       url('Helvetica-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helvetica-light-587ebe5a59211';
  src: url('helvetica-light-587ebe5a59211.eot');
  src: url('helvetica-light-587ebe5a59211.eot?#iefix') format('embedded-opentype'),
       url('helvetica-light-587ebe5a59211.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica-Oblique';
  src: url('Helvetica-Oblique.eot');
  src: url('Helvetica-Oblique.eot?#iefix') format('embedded-opentype'),
       url('Helvetica-Oblique.svg#Helvetica-Oblique') format('svg'),
       url('Helvetica-Oblique.ttf') format('truetype'),
       url('Helvetica-Oblique.woff') format('woff'),
       url('Helvetica-Oblique.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaRounded-Bold';
  src: url('HelveticaRounded-Bold.eot');
  src: url('HelveticaRounded-Bold.eot?#iefix') format('embedded-opentype'),
       url('HelveticaRounded-Bold.svg#HelveticaRounded-Bold') format('svg'),
       url('HelveticaRounded-Bold.ttf') format('truetype'),
       url('HelveticaRounded-Bold.woff') format('woff'),
       url('HelveticaRounded-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}