.page-content{
    display: flex;
    width: 550px;
    justify-content: space-between;
    position: absolute;
    text-align: center;
    left: 30.69%;
    right: 30.97%;
    top: 140px;
}
.page-item{
    width: 115px;
    height: 85px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(158, 158, 158, 0.17);
    border-radius: 2px;
}
.current__page{
    background: linear-gradient(224.4deg, #7B1931 -23.64%, #E05226 113.52%);
}
.page-link{
    display: block;
    width: 115px;
    height: 85px;

}
.page__icon {
   background: linear-gradient(224.4deg, #7B1931 -23.64%, #E05226 113.52%);
    
}
.page__more{
    fill: #7B1931;
    width:48px;
    height:48px;
    margin-top:7px;
    margin-bottom: 5.65px;
}
.current__item {
    fill: #FFFFFF;
}
.page__text {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 100%;
    color: #595959;
}
.current__text {
    color: #FFFFFF;
}
.btn {  
    width: 210px;
    height: 50px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
    background: linear-gradient(224.4deg, #7B1931 -23.64%, #E05226 113.52%);
    border:none;
    border-radius: 2px;
}
.btn-primary{
    position: absolute;
    left: 922px;
    top: 428px;
}