/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.main__content {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin-left: 80px;
  margin-right: 80px;
}

.header-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 160px;
  padding-top: 24px;
}

.header {
  background: linear-gradient(274.25deg, #00205B -9.03%, #00A3E0 138.82%);
}

.logo-title {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #FFFFFF;
  padding-top: 10px;
}

.first-header {
  margin-left: 150px;
  width: -webkit-fill-available;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.about-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 315px;
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
  list-style: none;
}

.about-link {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #FFFFFF;
  text-decoration: none;
}

.contacts-link {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
}

.contacts-image {
  height: 21px;
  width: 21px;
}

.search-form-action {
  border-bottom: #FFFFFF;
}

.search-form-input {
  width: 155px;
  background-color: transparent;
  color: #FFFFFF;
  border: none;
  border-bottom: 1px solid #b8b8b8;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-text-decoration: #FFFFFF;
          text-decoration: #FFFFFF;
}

.search-btn {
  border: none;
  border-bottom: #FFFFFF;
  background-color: transparent;
}

.search-icon {
  width: 22px;
  height: 22px;
}

.pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 670px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  padding-bottom: 11px;
  border-bottom: 0.5px solid lightgray;
}

.pages-link {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}

.current {
  color: #2BC5FF;
}

.bank-btn {
  width: 155px;
  height: 40px;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #00A3E0;
  border-radius: 2px;
  color: #FFFFFF;
  border-style: none;
}

.footer {
  display: block;
  width: 100%;
  height: 415px;
  padding: 0 200px 0px 80px;
  background: linear-gradient(274.25deg, #00205B -9.03%, #00A3E0 138.82%);
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo-footer {
  margin-top: 55px;
}

.about-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0px;
  margin-left: 110px;
  width: -webkit-fill-available;
}

.pages-footer {
  width: 670px;
}

.pages-footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 0px;
}

.pages-footer-item {
  list-style: none;
}

.info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 110px;
  margin-top: 55px;
  padding-bottom: 35px;
  border-bottom: 1px solid;
}

.contacts-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts-footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts-footer-item {
  list-style: none;
}

.contacts-footer-item {
  margin-right: 55px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.contacts-footer-item:last-child {
  margin-right: 0px;
}

.contacts-footer-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 17px;
  text-transform: uppercase;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  color: #ffffff;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #00D2FF;
  -webkit-box-shadow: 0px 4px 4px rgba(63, 156, 148, 0.17);
          box-shadow: 0px 4px 4px rgba(63, 156, 148, 0.17);
  border-radius: 2px;
  margin-bottom: 30px;
}

.contacts-footer-heading {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
}

.contacts-footer-text {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #FFFFFF;
}

.nav-footer-link {
  text-decoration: none;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  margin-top: 17px;
  color: #2BC5FF;
}

.nav-list {
  margin-top: 45px;
}

.nav-item:not(:last-child) {
  margin-bottom: 8px;
}

.nav-link {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #FFFFFF;
}

.cr-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 45px 0px 52px 260px;
}

.copyright {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #FFFFFF;
}

.social__links-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 140px;
  height: 43px;
}

.social__picture {
  width: 32px;
  height: 32px;
  fill: #ffffff;
}

.page-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  top: -20px;
  left: 25%;
  text-align: center;
  width: 540px;
  margin-bottom: 45px;
}

.page-item {
  width: 115px;
  height: 85px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(158, 158, 158, 0.17);
          box-shadow: 0px 4px 4px rgba(158, 158, 158, 0.17);
  border-radius: 2px;
}

.current__page {
  background: linear-gradient(224.4deg, #7B1931 -23.64%, #E05226 113.52%);
}

.page-link {
  display: block;
  width: 115px;
  height: 85px;
}

.page__icon {
  background: linear-gradient(224.4deg, #7B1931 -23.64%, #E05226 113.52%);
}

.page__more {
  fill: #7B1931;
  width: 48px;
  height: 48px;
  margin-top: 7px;
  margin-bottom: 5.65px;
}

.current__item {
  fill: #FFFFFF;
}

.page__text {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 100%;
  color: #595959;
}

.current__text {
  color: #FFFFFF;
}

.btn {
  width: 210px;
  height: 50px;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #FFFFFF;
  background: linear-gradient(224.4deg, #7B1931 -23.64%, #E05226 113.52%);
  border: none;
  border-radius: 2px;
}

.btn-primary {
  position: absolute;
  left: 922px;
  top: 428px;
}

.second__header {
  height: 326px;
  margin-bottom: 50px;
  background-image: url("../../src/images/main-deposite.jpg");
}

.second__header-image {
  height: 326px;
}

.second__text {
  color: #fff;
}

.current-second__text {
  color: #747474;
}

.second__title {
  margin-left: 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  color: #fff;
}

.second__text-list {
  padding: 38px 0px 26px 30px;
}

.filter__content {
  display: block;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 70px;
}

.filter__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.filter__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 52px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #454444;
}

.checkbox {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.filter__option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.deposite-kinds__title {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #4E4E4E;
  margin: 40px 0 35px 110px;
}

.deposite-kinds__content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 200px 70px 200px;
  background: #FFFFFF;
  border: 1px solid #D1D1D1;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 32, 91, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 32, 91, 0.15);
}

.deposite-kinds__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 110px;
  margin-right: 110px;
}

.deposite-kinds__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #4E4E4E;
  margin-bottom: 7px;
}

.deposite-kinds__text-second {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 55px;
  color: #00205B;
  margin-left: 10px;
}

.deposite-kinds__description {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #00205B;
}

.deposite-kinds__comtainer {
  margin-bottom: 52px;
}

.deposite-kinds-picture {
  margin-left: 10px;
}

.deposite-kinds__documents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 200px 70px 200px;
  background: #FFFFFF;
  border: 1px solid #D1D1D1;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 32, 91, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 32, 91, 0.15);
}

.deposite-kinds__documentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 41px;
}

.documentation__title {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  padding-right: 30px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  color: #003772;
}

.documentation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 41px 13px 50px 30px;
  border-left: 1px solid #333333;
}

.documentation__item {
  margin-left: 55px;
}

.documentation__kind {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.documentation__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 32px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #333333;
  border: none;
  background-color: transparent;
  margin-bottom: 60px;
}

.more-picture {
  margin-left: 10px;
  width: 32px;
  height: 32px;
}

.documentation__description {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #303030;
}

.documentation__caracter {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #858585;
}

.documentation__content {
  margin-left: 10px;
}

.second__header-credits {
  margin-bottom: 60px;
}

.second__title-credits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  color: #003772;
}

.second__text-credits__list {
  margin-bottom: 60px;
}

.second__text-credits {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #001843;
}

.current-second__text-credits {
  color: #747474;
}

.credits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
}

.credits__money {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.credits__button {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #002E82;
  -webkit-box-shadow: 0px 4px 4px rgba(107, 107, 107, 0.1);
          box-shadow: 0px 4px 4px rgba(107, 107, 107, 0.1);
}

.credits__kind {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 400px;
  height: auto;
  left: 85px;
  top: 453px;
  background: #FFFFFF;
  border: 1px solid #D1D1D1;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 32, 91, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 32, 91, 0.15);
}

.credits__img {
  width: 362px;
  height: 172px;
  margin: 20px 20px 40px 20px;
}

.credits__title {
  margin: 0px 30px 25px 50px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #00205B;
}

.credits__check {
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 40px 0px 20px;
}

.credits__check-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.check__text {
  margin-left: 15px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #4E4E4E;
}

.credits__calendar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.credits__svg {
  fill: #002E82;
  width: 22px;
  height: 22px;
}

.credits__text {
  margin-left: 10px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
  color: #002E82;
}

.credits__recive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 50px;
}

.credite-kinds__documents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 70px;
  background: #FFFFFF;
  border: 1px solid #D1D1D1;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 32, 91, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 32, 91, 0.15);
}

.rates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 90px;
}

.rates__item {
  height: auto;
  margin-right: 50px;
  background: #00205B;
  border-radius: 5px;
}

.rates__link-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 50px 50px 50px 30px;
}

.rates__link {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
}

.rates__svg {
  margin-left: 30px;
  width: 11px;
  height: 22px;
}

.rates__item-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #FFFFFF;
  border: 1px solid #D1D1D1;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 32, 91, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 32, 91, 0.15);
}

.rates__contacts {
  margin: 0px 35px;
}

.rates__title {
  margin-bottom: 10px;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #00205B;
}

.rates__text {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #777777;
}

.second__header-operations {
  margin-bottom: 75px;
}

.operations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
}

.operations__list {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.operations__list-item {
  margin-bottom: 30px;
}

.operations__link {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #727272;
}

.current-operations__link {
  padding: 20px 85px 10px 55px;
  color: #00A3E0;
  font-weight: 700;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(86, 31, 0, 0.1);
          box-shadow: 0px 4px 4px rgba(86, 31, 0, 0.1);
  border-radius: 2px;
}

.operations__kind {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 60px;
  margin-left: 95px;
  background: #FFFFFF;
  border: 1px solid #D1D1D1;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 32, 91, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 32, 91, 0.15);
}

.operations__kind-item {
  margin: 40px 50px 45px 55px;
}

.operations__kind-title {
  margin-bottom: 25px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  color: #00205B;
}

.operations__kind-text {
  margin-bottom: 35px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #4E4E4E;
}

.operations__btn {
  padding: 15px 45px;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  background: linear-gradient(224.4deg, #7B1931 -23.64%, #E05226 113.52%);
  border-radius: 2px;
  border: none;
}

.operations__rates {
  margin-left: 95px;
}

.operations__documentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 95px;
  margin-left: 95px;
  background: #FFFFFF;
  border: 1px solid #D1D1D1;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 32, 91, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 32, 91, 0.15);
}

.operations__documentation-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 50px 0px 50px 55px;
}

.operations__documentation-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.operations__documentation-kind {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.operations__documentation-title {
  margin-bottom: 50px;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #003772;
}

.operations__documentation-Link__list {
  margin-bottom: 45px;
  border-bottom: 1px solid #B8B8B8;
}

.operations__documentation-link {
  margin: 0px 100px 45px 35px;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #838383;
}

.current-link {
  color: #00A3E0;
}

.operations__documentation-content {
  margin-bottom: 20px;
}

.operations__documentation-content {
  margin-left: 10px;
}

.operations__documentation-description {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #4B4B4B;
}

.operations__documentation-caracter {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #858585;
}

.accoutopen__checklist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 55px;
}

.accountopen__text {
  border: none;
  border-bottom: 1px solid #8D8D8D;
  margin-bottom: 40px;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #8D8D8D;
}

.principal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.accountopen__conditions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 145px;
}

.accountopen__check {
  margin-right: 25px;
}

.accountopen__check-text {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #727272;
}

.accountopen__check-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ved {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 60px;
  margin-left: 95px;
}

.ved__kind {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ved-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 450px;
  background: #FFFFFF;
  border: 1px solid #D1D1D1;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 32, 91, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 32, 91, 0.15);
}

.ved-item:not(:first-child) {
  margin-left: 50px;
}

.ved-picture {
  margin-top: 25px;
  margin-bottom: 30px;
}

.ved__description {
  margin: 0px 0px 60px 35px;
}

.ved__description-title {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #00205B;
  margin-bottom: 25px;
}

.ved__description-text {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 25px;
  color: #6A6A6A;
}

.ved-btn {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  margin-top: 20px;
  color: #FFFFFF;
  width: 210px;
  height: 50px;
  background: linear-gradient(224.4deg, #7B1931 -23.64%, #E05226 113.52%);
  border-radius: 2px;
  border: none;
}

.specialchecks__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 450px;
  background: #FFFFFF;
  border: 1px solid #D1D1D1;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 32, 91, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 32, 91, 0.15);
}

.specialchecks__item:not(:first-child) {
  margin-left: 50px;
}

.specialchecks__link {
  margin-left: 25px;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #00205B;
}

.container {
  width: 1440px;
  margin-right: auto;
  margin-left: auto;
}

button:active {
  background: #B94C40;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
/*# sourceMappingURL=main.css.map */